@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');

.detail-img {
  height: 40vh;
  width: auto!important;
  align-self: center;
  margin-top: 4vh;
}

.card {
  border: 1.5px solid rgba(0, 0, 0, 0.125)!important;
}

.card-body h3{
  text-transform: capitalize;
  font-family: 'Amatic SC', cursive;
  font-size: 3rem;
}

.detailview {
  border: none!important;
  padding-bottom: 4vh!important;
}

.detail-span {
  color:black;
  font-weight: 200;
  text-transform: capitalize;
}

.bg-image-detail {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),  url("/wallflower.jpeg");
  background-size: cover;
  background-position: center;
  max-width: 40%!important;
}
