.hero-image-email {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/mathyas-kurmann-fb7yNPbT0l8-unsplash.jpg);
  height: 45vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 2vh;
}

.email {
  margin-top: 2vh;
  width: 40vw;
}

.email-container {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 300px) {
  .email {
    width: 66vw;
  }
}

@media screen and (min-width: 700px) {
  .email {
    width: 40vw;
  }
}