.section-padding {
  padding: 20px 0;
}

.bottom {
  background-color: rgb(155 196 203);
  height: 9vh;
}

.copyright {
  color: #e5e5e5;
  font-weight: 600;
}


.bottom p {
  margin-bottom: 0;
  line-height: 50px;
  font-size: 1.5em;
  font-weight: 200;
  color: white;
}

footer {
  margin-top: auto !important;
  padding: 0 !important;
  position: fixed;
   bottom: 0px!important;
   width: 100%;
}

.empty {
  padding-top: 9vh
}

.btn-success {
  background-color: rgb(155 196 203)!important;
  border-color: rgb(155 196 203)!important;
  margin-bottom: 2vh!important;
}