@import url('https://fonts.googleapis.com/css?family=Aleo&display=swap');

.bgimage {
  width:100%;
  height:500px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/daniel-oberg-sEApBUS4fIk-unsplash.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  height: 85vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.bgimage h5 {
  color:white;
  text-shadow:2px 2px #333;
}

.auth-buttons{
  margin-top: 4vh;
  justify-content: space-evenly;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Aleo', serif;
}

.hero-text p {
  font-family: 'Aleo', serif;
  font-style: italic;
}
