@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.bgimage {
  width: 100%;
  height: 65vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/daniel-oberg-sEApBUS4fIk-unsplash.jpg');
  background-attachment: fixed;
  background-position: 0 37%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bgimage h5 {
  color: white;
  text-shadow: 2px 2px #333;
}

.auth-buttons {
  margin-top: 4vh;
  justify-content: space-evenly;
  font-family: 'Manrope', sans-serif;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Indie Flower', cursive;
}

.hero-text h2 {
  font-family: 'Indie Flower', cursive;
  font-size: 5em;
}

.features {
  /* height: 40vh; */
  padding-top: 6vh;
  background-color: rgba(207, 235, 223, 0.5);
}

.how-section1 {
  margin-top: -15%;
  padding: 10%;
}

.how-section1 h4 {
  font-weight: bold;
  font-size: 30px;
}

.how-section1 .row {
  margin-top: 10%;
}

.how-img {
  text-align: center;
}

.how-img img {
  width: 90%;
}

@media screen and (min-width: 300px) {
  .middle-row {
    flex-direction: column-reverse;
  }
}

@media screen and (min-width: 500px) {
  .middle-row {
    flex-direction: row;
  }
}

.subtitle {
  font-size: 1.5rem;
  font-family: 'Manrope', sans-serif;
  font-weight: 200;
}