.list-img {
  align-self: center;
  /* height: 30vh;
  width: 30vw; */
}

/* .card-deck {
  padding-top: 3vh
} */

.card-link {
  margin-top: 3vh;
}

.detailview {
  padding: 3vh;
  border: 0px!important;
}

@media screen and (min-width: 576px) {
  .card-deck .card {
    flex: none!important;
}
}

.card-img, .card-img-top, .card-img-bottom {
  width: 30vw!important;
}

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/annie-spratt-ncQ2sguVlgo-unsplash.jpg);

  /* Set a specific height */
  height: 50vh;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}