/* .list-img {
  align-self: center;
}

.card-link {
  margin-top: 3vh;
}

.detailview {
  padding: 3vh;
  border: 0px!important;
}

@media screen and (min-width: 576px) {
  .card-deck .card {
    flex: none!important;
}
}

.card-img, .card-img-top, .card-img-bottom {
  width: 30vw!important;
}

.card-img-top {
  align-self: center;
} 

.card {
  margin: 4vh!important;
}
*/

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/annie-spratt-ncQ2sguVlgo-unsplash.jpg);
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 2vh;
}


.hero-image-profile {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/annie-spratt-8mqOw4DBBSg-unsplash.jpg);
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 2vh;
}

.search-select {
  font-size: 1.4rem;
  border: 0px;
  background: none;
  color: #9BC4CB;
  ;
  text-decoration: underline;
  width: auto;
}

#search-title {
  display: inline;
}

.search-name {
  margin-top: 2vh;
  height: 40px !important;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
}

.distance-search {
  display: inline;
  margin-top: 2vh;
  height: 40px!important;
  inline-size: fit-content!important;
}

.search-header {
  margin: 6vh 0px;
}