.list-img {
  align-self: center;
  /* height: 30vh;
  width: 30vw; */
}

/* .card-deck {
  padding-top: 3vh
} */

.card-link {
  margin-top: 3vh;
}

.detailview {
  padding: 3vh;
  border: 0px!important;
}