.nav {
  background-color: #428756;
  color: white;
  justify-content: space-around;
  padding-top: 1vh;
  padding-bottom: 1vh;
  height: 5vh;
}

.nav a{
  color:white;
  text-decoration: none;
}

.home-icon {
  height: 2vh;
}