.nav {
  background-color: #1c442e;
  color: white;
  justify-content: space-around;
  padding-top: 1vh;
  padding-bottom: 1vh;
  height: 6vh;
}

.nav a, .logout{
  color:white;
  text-decoration: none;
}

.home-icon {
  height: 2vh;
}

.navbar {
  background-color: #1c442e!important;
}

.logo-navbar {
  width: 20vw;
}