
.logout{
  color:white;
  text-decoration: none;
  cursor: pointer;
  /* padding: 0 2vw; */
  padding-left: 8px;
}

.nav-link{
  padding-right: 1rem!important;
  padding-left: 1rem!important;

}


.home-icon {
  height: 2vh;
}

.navbar {
  background-color: rgb(219 153 90)!important;
  font-size: 1.2em;
  font-weight: 200;
}

.navbar-expand-lg {
  width: 85vw;
}

.mr-auto {
  text-align:right;
  align-items: center;
}

.mr-auto p {
  margin-bottom: 0!important;
  display: flex;
  align-items: center;
}

.navbar-dark .navbar-nav .nav-link {
  color: azure!important;
}

@media screen and (min-width: 300px) {
  .navbar{
    justify-content: space-between!important;
}
.nav-link{
  margin-right: 0;
}
}

@media screen and (min-width: 600px) {
  .navbar{
    justify-content: space-between!important;
  }
  #responsive-navbar-nav{
    margin-left: 0;
  }
}

.navbar-brand img {
  height: 5vh;
}
