body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'Indie Flower', cursive;
  font-size: 4rem!important;
  color: #9BC4CB;
  margin-top: 3vh!important;
}

h3 {
  color: #9BC4CB
}

h4, h6, h5{
  color: rgb(219 153 90)!important;
  margin-top: 3vh!important;
  margin-bottom: 3vh!important;
}

.btn-warning, .btn-danger {
  background-color: rgb(219 153 90)!important;
  color: white!important;
  border-color: #e58e3d!important;
}

.btn-danger {
  margin:10px
}